<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listings</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Listings</h1>
    <form method="GET" action="/listings/new">
        <button>Create New Listing</button>
    </form>
    <ul>
<% for(let listing of allListings){%>
    <li><a href="/listings/<%=listing._id%>"><%= listing.title %></a> </li>  
<%}%>
</ul>
</body>
</html>
